<%= form_for(@notice_display) do |f| %>
  <% if @notice_display.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_display.errors.count, "error") %> prohibited this notice_display from being saved:</h2>

      <ul>
      <% @notice_display.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice_type %><br />
    <select id="notice_type" name="notice_type">
      <option value="மரண அறிவித்தல்">மரண அறிவித்தல்</option>
      <option value="நினைவு கூரல்">நினைவு கூரல்</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.cktext_area :message, :ckeditor => {:language => "en"} %>
  </div>
  <div class="field">
    <%= f.label :posted_by %><br />
    <%= f.text_field :posted_by %>
  </div>
  <div class="field">
    <% f.label :orbituarysite_id %><br />
    <%= f.hidden_field :orbituarysite_id %>
  </div>
  <%= f.fields_for :notice_event_contacts do |builder| %>
   <%# render 'notice_displays/event_contact', :f => builder %>
  <% end %>
  <%= f.fields_for :notice_event_places do |builder| %>
   <%# render 'notice_displays/event_place', :f => builder %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
