<%= form_for(@notice_display) do |f| %>
  <% if @notice_display.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_display.errors.count, "error") %> prohibited this notice_display from being saved:</h2>

      <ul>
      <% @notice_display.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice_type %><br />
    <%= f.text_field :notice_type %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :posted_by %><br />
    <%= f.text_field :posted_by %>
  </div>
  <div class="field">
    <%= f.label :orbituarysite_id %><br />
    <%= f.number_field :orbituarysite_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
