        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :country %><br />
          <%= f.country_select :country %>
        </div>
        <div class="field">
          <%= f.label :mobile %><br />
          <%= f.text_field :mobile %>
        </div>
        <div class="field">
          <%= f.label :telephone %><br />
          <%= f.text_field :telephone %>
        </div>
        <div class="field">
          <%# f.label :notice_display_id %><br />
          <%= f.hidden_field :notice_display_id %>
        </div>
        <div class="field">
          <%# f.check_box :_destroy %>
          <%# f.label :_destroy %>
        </div>