<%= form_for(@orbiturer_share_image) do |f| %>
  <% if @orbiturer_share_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orbiturer_share_image.errors.count, "error") %> prohibited this orbiturer_share_image from being saved:</h2>

      <ul>
      <% @orbiturer_share_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :orbiturer_other_images %><br />
    <%# f.text_field :orbiturer_other_images %>
     <p>
    <label>Share Images</label>
    <%= image_tag(@orbiturer_share_image.orbiturer_other_images_url) if @orbiturer_share_image.orbiturer_other_images? %>
    
    <%= f.file_field :orbiturer_other_images %>
  </p>

  <p>
    <label>
      <%# f.check_box :orbiturer_other_images %>
      Remove avatar
    </label>
  </p>
  </div>
  <div class="field">
    <% f.label :orbituarysite_id %><br />
    <%= f.hidden_field :orbituarysite_id %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
