<h1>Listing orbiturer_share_images</h1>

<table>
  <tr>
    <th>Orbiturer other images</th>
    <th>Orbituarysite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orbiturer_share_images.each do |orbiturer_share_image| %>
  <tr>
    <td><%= orbiturer_share_image.orbiturer_other_images %></td>
    <td><%= orbiturer_share_image.orbituarysite_id %></td>
    <td><%= link_to 'Show', orbiturer_share_image %></td>
    <td><%= link_to 'Edit', edit_orbiturer_share_image_path(orbiturer_share_image) %></td>
    <td><%= link_to 'Destroy', orbiturer_share_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orbiturer share image', new_orbiturer_share_image_path %>
