<p id="notice"><%= notice %></p>

<p>
  <b>Orbiturer other images:</b>
    <%= image_tag(@orbiturer_share_image.orbiturer_other_images_url) if @orbiturer_share_image.orbiturer_other_images? %></p>

<p>
  <b>Orbituarysite:</b>
  <%= @orbiturer_share_image.orbituarysite_id %>
</p>


<%= link_to 'Edit', edit_orbiturer_share_image_path(@orbiturer_share_image) %> |
<%= link_to 'Back', orbiturer_share_images_path %>
