<%= form_for @notice_event_place, :html => {:class => "form-horizontal"} do |f| %>
  <% if @notice_event_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_event_place.errors.count, "error") %> prohibited this notice_event_place from being saved:</h2>

      <ul>
      <% @notice_event_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_type %>
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :eventdate %><br />
    <%= f.datetime_select :eventdate %>
  </div>
  <div class="field">
    <%= f.label :eventtime %><br />
    <%= f.time_select :eventtime %>
  </div>
  <div class="field">
    <%= f.label :notice_display_id %><br />
    <%= f.number_field :notice_display_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
