<%= form_for(@condolence) do |f| %>
  <% if @condolence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condolence.errors.count, "error") %> prohibited this condolence from being saved:</h2>

      <ul>
      <% @condolence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%# f.text_field :country %>
    <%= country_select "condolence", :country %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :flower %><br />
    <%= f.radio_button :flower, "1" %> Flower
    <%= f.radio_button :flower, "2" %> Lamp
    <%# f.radio_button :flower, "3" %>
    <%# f.radio_button :flower, "4" %>
  </div>
  <div class="field">
    <%= f.label :share_content %><br />
    <%= f.cktext_area :share_content, :ckeditor => {:language => "en", :toolbar => "mini" } %>
  </div>
  <div class="field">
    <% f.label :orbituarysite_id %><br />
    <%= f.hidden_field :orbituarysite_id %>
  </div>
  <div class="actions">
    <%= f.submit "Condolences", :class => "btn btn-primary" %>
  </div>
<% end %>
