<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_field :startdate, :class => "date_select_jquery" %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.text_field :enddate, :class => "date_select_jquery" %>
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :ckeditor => {:language => "en", :toolbar => "mini"} %>
  </div>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#url" data-toggle="tab">Url</a></li>
  <li><a href="#upload" data-toggle="tab">Upload</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="url">
    <div class="field">
      <%= f.label :media %><br />
      <%= f.text_field :media %>
    </div>
  </div>
  <div class="tab-pane" id="upload">
    <div class="field">
      <%= f.label :image %><br />
      <%= f.text_field :image %>
    </div>
</div>
</div>
  <div class="field">
    <%# f.label :mediacredit %><br />
    <%# f.text_field :mediacredit %>
  </div>
  <div class="field">
    <%# f.label :mediacaption %><br />
    <%# f.text_field :mediacaption %>
  </div>
  <div class="field">
    <%# f.label :orbituarysite_id %><br />
    <%= f.hidden_field :orbituarysite_id %>
  </div>
  <div class="actions">
    <%= f.submit "Share Timeline", :class => "btn btn-primary" %>
  </div>
<% end %>
