<%= form_for(@memory) do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.cktext_area :body, :ckeditor => {:language => "en", :toolbar => "mini"} %>
  </div>
  <div class="field">
    <% f.label :orbituarysite_id %><br />
    <%= f.hidden_field :orbituarysite_id %>
  </div>
  <div class="field">
    <% f.label :user_id %><br />
    <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Share Memories", :class => "btn btn-primary" %>
  </div>
<% end %>
